.contacts{
    min-height: 100vh;
    background-color: #78ffa1;
}
.contactsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.form {
    display: flex;
    flex-direction: column;
    background-color: #79daff;
    width: 280px;
    max-width: 100%;
}
.sendButton{
    width: 100px;
    height: 40px;
    background-color: #bc40ff;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
}