@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.title {
  margin: 0 0 30px;
  display: inline-block;
  @include text($fontFamily,21px,1,$textTitleColor);
  z-index: 1;
  font-weight: 600;
  font-style: normal;
  position: relative;

  & h2 {
    margin: 0;
  }

  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: $fakeColor;
    bottom: -7px;
  }

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 30%;
    height: 2px;
    background-color: $primaryColor;
    bottom: -7px;
  }
}
