@import "src/common/styles/sass/variables";

.skillsBlock {
    min-height: 100vh;
    background-color: $bgSecondColor;
    padding: 100px;
    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        .skills {
            border: 1px solid;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and (max-width: 691px){
                    justify-content: center;
            }
            @media screen and (min-width: 691px) and (max-width: 1029px){
                    justify-content: space-evenly;
            }
        }
    }

}