.skillsBlock {
    min-height: 100vh;
    background-color: #ffb179;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 691px){
    .skills{
        justify-content: center;
    }
}

@media screen and (min-width: 691px) and (max-width: 1029px){
    .skills{
        justify-content: space-evenly;
    }
}

.title {
    background-color: #00fffa;
}