.skillsBlock {
    min-height: 100vh;
    background-color: #ffb179;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    background-color: #00fffa;
}