@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";


.footerBox{
    min-height: 120px;
    padding: 0 0 20px 0;
    .footerContainer{
        @include container();
        flex-direction: column;
        justify-content: flex-start;
        .header{
            @include text($fontFamily,16px,1,$textDescriptionColor);
            font-style: normal;
            display: block;
            margin-block-start: 1.33em;
            margin-block-end: 1.33em;
            margin-inline-start: 0;
            margin-inline-end: 0;
            position: relative;
            &::before{
                display: block;
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: $itemColor;
                bottom: -7px;
            }
        }
        .boxes{
            width: 300px;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .box{
                width: 50px;
                height: 50px;
                background-color: #006c36;
            }
        }
    }


}
