.projectsBlock{
    min-height: 100vh;
    background-color: #f668ff;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}